.register-container {
  display: flex;
  flex-direction: column;
  padding: 0 5vw 0px 5vw;
  /* margin-top: 30vh; */
  position: absolute;
  /* background-color: aqua; */
  /* height: 100%; */
  width: 100%;
  min-width: 320px;
  min-height:332px;
  bottom:calc(75px + 0.3*20vh);
  /* background: #fff; */
  /* min-height:640px; */
  z-index: 10;
  animation: fadein 1s;
}

.register-container h3 {
  font-weight: bold;
  margin: 0px 0px 30px 0px;
  font-size: 56px;
  color:white;
  width:100%;
  z-index:10
}

.form-style {
  display: flex;
  flex-direction: column;
  align-self: center;
  min-width: 320px;
  /* max-width: 360px; */
  width: 100%;
  position: relative;
  vertical-align: middle;
}

.form-label {
  /* display: flex; */
  /* justify-content: space-between; */
  margin:0px;
  font-weight: bold;
  width: 100%;
  color:white;
}

.input-style {
  border-radius: 5px;
  border-width: 0px 0px 0px 0px;
  /* width: 70%; */
  width:100%;
}

.button-style {
  border-radius: 5px;
  margin: 5px 0px;
  font-weight: bold;
  /* max-width: 320px; */
  width: 100%;
  align-self: center;
}

.submit-button{
  margin: 20px 0px 3px 0px;
}

.box {
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  position: absolute;
  top:0;
  z-index: -1;
}

.box video{
  height:100%;
  width:100%;
  object-fit: cover;
}

.overlay {
  height:100%;
  width:100%;
  background-color: rgba(0,0,0,0.7);
}

.box h1 {
  display: none;
}

.toast {
  position: absolute;
  width: 50%;
  text-align: center;
  margin: 75vh 25% 0 25%;
  z-index:100;
}

@media all and (min-width: 577px) {
  .register-container {
    display: flex;
    flex-direction: column;
    padding: 40vh 40vw 0px 40vw;
    position: absolute;
    height: 100%;
    width: 100%;
    min-width: 320px;
    animation: fadein 1s;
  }

  .register-container h3 {
    font-weight: bold;
    margin: 0px 0px 60px 0px;
    font-size: 56px;
    color:white;
    width: 100%;
    text-align: center;
  }

  .input-style {
    border-radius: 5px;
    border-width: 0px 0px 0px 0px;
    width: 100%;
  }

  .button-style {
    border-radius: 5px;
    margin: 5px 0px;
    font-weight: bold;
    max-width: 320px;
    width: 100%;
    align-self: center;
  }

  .submit-button{
    margin: 20px 0px 3px 0px;
  }

  .box {
    height: 100%;
    width: 100%;
    position: absolute;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  }

  .box img{
    object-fit:cover;
  }

  .box h1 {
    display: table-cell;
    position: absolute;
    color: #ffffff;
    font-weight: bold;
    vertical-align: bottom;
    padding: 10px 10px;
    bottom: 0;
    z-index:100
  }
  .form-label {
    /* display: flex;
    justify-content: space-between; */
    margin:0px;
    font-weight: bold;
    width: 100%;
    color:white;
  }
  .toast {
    position: absolute;
    width:20%;
    margin: 75vh 40% 0 40%;
    text-align: center;
    z-index:100;
  }
}
