.card-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  /* background: #fff;
  border: 1px solid #cecece;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); */
}

.card-image {
  width: calc(5vw + 7vh);
  height: calc(2vw + 7vh);
  min-width:80px;
  max-width: 100px;
  min-height:80px;
  max-height: 100px;
  position: relative;
  margin: auto;
  padding: 0px 3px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-right: 0px;
  padding-left: 5px;
}

.top-text {
  height: 100%;
}

.top-text h5 {
  line-height: 100%;
  vertical-align: middle;
}

.bottom-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* height: 100%; */
  padding:0 3px;
}

.bottom-text h5 {
  /* height: 100%; */
  line-height: 50px;
  vertical-align: middle;
}
