.order-content-container{
    display: flex;
    flex-direction: column;
}

.order-content{
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}

.order-content h4{
    font-size:16px;
}

@media all and (min-width:992px){
    .order-content h4{
        font-size:24px;
    }
}

@media all and (min-width:767px){
    .order-content h4{
        font-size:20px;
    }
}

@media all and (min-width:567px){
    .order-content h4{
        font-size:18px;
    }
}