* {
  box-sizing: border-box
}

body,div,h1,h2,h3,h4,h5,h6,html,li,ol,p,ul {
  margin: 0;
  padding: 0
}

.counter-wrapper {
  display: flex;
}

.p-inline {
  display: inline-block;
  width: 9vw;
  height: 4vh;
  max-width: 35px;
  max-height: 30px;
  background: #ffffff;
  border: 1px solid #82de3a;
  box-sizing: border-box;
  vertical-align: middle;
  line-height:25px;
  text-align: center;
  align-self: center;
}

.incdec-button {
  position: relative;
  align-self: center;
  /* vertical-align: middle; */
  text-align: center;
  line-height:2vh;
  max-width: 30px;
  max-height:30px;
  width: 8vw;
  height: 4vh;
  background: rgba(130, 222, 58, 0.2);
  border: 1px solid #82de3a;
  box-sizing: border-box;
}
