* {
  box-sizing: border-box;
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
html,
li,
ol,
p,
ul {
  margin: 0;
  padding: 0;
}

.right-sidebar-container {
  background: #fff;
  border: 1px solid #cecece;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 90vh;
  top:10vh;
  min-width: 360px;
  max-width: 360px;
  position: fixed;
  overflow-y: auto;
  z-index: 10;
}

.right-sidebar-content {
    text-align: center;
    margin-top: 50px
}

.right-sidebar-content h4 {
    font-size: 30px
}

.right-sidebar-content p {
    padding: 0 10px;
    font-size: 20px;
    color: #cecece
}

.right-sidebar-content img {
    height: 40%;
    width: 40%;
    object-fit: contain
}

@media all and (min-width: 361px) {
  .right-sidebar-container {
    background: #fff;
    border: 1px solid #cecece;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 90vh;
    min-width: 360px;
    max-width: 360px;
    position: fixed;
    overflow-y: auto;
    top:10vh;
    left: calc(100% - 360px);
    z-index: 10;
  }
}
