* {
  box-sizing: border-box;
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
html,
li,
ol,
p,
ul {
  margin: 0;
  padding: 0;
}

.left-header-container {
  display: flex;
  min-width: 320px;
  height:10vh;
  align-items: center;
  justify-content: center;
  /* width:100%; */
}
.menus {
  width: 13.685%;
  max-width: 81.59px;
  display: flex;
}

.menus img{
  height: 35%;
  width: 35.35%;
  margin: auto;
  align-self: center;
  object-fit: contain;
  transition: all .5s
}

.badge-info {
  border-radius: 25px;
  text-align: center;
  position: absolute;
  font-size: 10px;
  top:50%;
  left: 55%;
  background: #57cad5;
}

.header-title,.menus{
  height: 100%;
  position: relative
}

.header-title {
  width:86.315%;
  position: relative;
  display: table;
  text-align: center;
}

.header-title h4{
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
}

.right-header-container {
  border-left: 1px solid #e5e5e5;
  height: 100%;
}

@media all and (min-width: 1440px){
  .header-title{
    width: calc(100% - (81.59px));
  }
}

@media all and (min-width:1200px){
  .header-title{
    width: calc(100% - (81.59px));
  }
}

@media all and (min-width:1024px){
  .header-title{
    width: calc(100% - (81.59px));
  }

}

@media all and (min-width:768px){
  .header-title{
    width: calc(100% - (81.59px));
  }
}

/* @media all and (min-width:576px){
  .header-title{
    width: calc(100% - (3 * 81.59px));
  }
} */